---------------------------------------------------------------

tc: clasificación de texto

librerías:

In [2]:
from sklearn.datasets import fetch_20newsgroups

cargar dataset con noticias de categorias de baseball y autos

In [3]:
noticias_2gpos = fetch_20newsgroups(categories=['rec.sport.baseball', 'rec.autos'])

In [4]:
type(noticias_2gpos)

sklearn.utils._bunch.Bunch

In [5]:
len(noticias_2gpos.data)

1191

a que categoría pertenece cada noticia?

arreglo de etiquetas numéricas que muestran a qué categoría pertenece cada noticia

In [6]:
noticias_2gpos.target

array([0, 1, 1, ..., 0, 0, 1], shape=(1191,))

separar los datos de las etiquetas:

In [7]:
X = noticias_2gpos.data
y = noticias_2gpos.target

In [8]:
print(len(X), len(y))

1191 1191

In [9]:
from pandas import DataFrame

asignamos las etiquetas y texto que habíamos separado

In [10]:
df = DataFrame(
    {"Noticia": X,
     "Etiqueta": y}
)

In [11]:
df.head()

                                             Noticia  Etiqueta
0  From: bob1@cos.com (Bob Blackshaw)\nSubject: R...         0
1  From: krattige@hpcc01.corp.hp.com (Kim Krattig...         1
2  From: gspira@nyx.cs.du.edu (Greg Spira)\nSubje...         1
3  From: fester@island.COM (Mike Fester)\nSubject...         1
4  From: ez027993@dale.ucdavis.edu (Gary The Burg...         1

convertir los textos de las noticias en números

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizador = TfidfVectorizer()
X_vect = vectorizador.fit_transform(df.Noticia)
X_vect

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 164027 stored elements and shape (1191, 18391)>