# Show Output
---

In [ ]:
print("Hola Mundo")

Hola Mundo

# Data Types
---

### Immutable types
Objects that cannot be modified after they are created. Any "change" you make actually creates a **new object in memory**.

In [ ]:
example_int = 1
example_float = 2.1
example_bool = True
example_str = "Hello"
example_tuple = (1, 2.1,  "Hello", True, (1, 1), [1, 2], {"key": "value"}, {"apple", "banana"}) # Accepts all data types

In [ ]:
# Output inmutables
print(f"Variable Name: example_int | Output: {example_int} | Type:{type(example_int)}")
print(f"Variable Name: example_float | Output: {example_float} | Type:{type(example_float)}")
print(f"Variable Name: example_bool | Output: {example_bool} | Type:{type(example_bool)}")
print(f"Variable Name: example_str | Output: {example_str} | Type:{type(example_str)}")
print(f"Variable Name: example_tuple | Output: {example_tuple} | Type:{type(example_tuple)}")

Variable Name: example_int | Output: 1 | Type:<class 'int'>
Variable Name: example_float | Output: 2.1 | Type:<class 'float'>
Variable Name: example_bool | Output: True | Type:<class 'bool'>
Variable Name: example_str | Output: Hello | Type:<class 'str'>
Variable Name: example_tuple | Output: (1, 2.1, 'Hello', True, (1, 1), [1, 2], {'key': 'value'}, {'apple', 'banana'}) | Type:<class 'tuple'>

### Mutable types
**Can be modified in place** without a new object in memory.

In [ ]:
example_list = [1, 2.1,  "Hello", True, (1, 1), [1, 2], {"key": "value"}, {"apple", "banana"}] # Accepts all data types
example_dict = { # It only accepts immutable types as keys
    "key": "value",
    1: ("tuple", "values"),
    2.1: ["list", "values"],
    (1, 2): {"set", "values"}
}
example_set = {1, 1.1,  "Hello", (1, 2), True} # Does't accepts mutable data types: list, dict, or set.

#### Convert from str to int

In [ ]:
str_num = "100"
int_num = int(str_num)

In [ ]:
print(type(str_num))
print(type(int_num))

<class 'str'>
<class 'int'>

## Lists

In [ ]:
example_list_2 = [] # Empty list
type(example_list_2)

list

In [ ]:
# .append() Only takes one argument, the value to append
example_list_2.append(1) # Appends the value to the last position of the list
example_list_2

[1]

In [ ]:
example_list_2.append(3.14) 
example_list_2

[1, 3.14]

In [ ]:
example_list_2.append("Hello")
example_list_2

[1, 3.14, 'Hello']

In [ ]:
example_list_2.append(True)
example_list_2

[1, 3.14, 'Hello', True]

In [ ]:
example_list_2.append([]) # All data types can be appended to a list
example_list_2

[1, 3.14, 'Hello', True, []]

### Indexing
Python is zero-indexed. This means the index values **starts at 0**.

In [ ]:
example_list_2

[1, 3.14, 'Hello', True, []]

In [ ]:
example_list_2[2]

'Hello'

In [36]:
example_list_2[-2] # Acces to the last element of the list. The "-" symbols indicates a backwards index

True

In [50]:
example_list_2[3] = False # You can assign a new value to an already existing item in the list 
example_list_2

[1, 3.14, 'Hello', False, []]

### Slicing
Slicing allows you to extract **subsections of sequences** (like strings, lists, or tuples) using the syntax:

``sequence[start:stop:step]``

- **start** → Index where the slice begins (inclusive). Defaults to 0.
    
- **stop** → Index where the slice ends (exclusive). Defaults to the length of the sequence.
    
- **step** → Interval between elements. Defaults to 1.

> **NOTE:** The slice stop index is not included in the result.

In [ ]:
example_list_2

[1, 3.14, 'Hello', True, []]

In [33]:
example_list_2[1:4] # From index 1 to 4

[3.14, 'Hello', True, []]

In [ ]:
example_list_2[:3] # From start (default to 0) to index 3

[1, 3.14, 'Hello']

In [28]:
example_list_2[2:] # From index 2 to end

['Hello', True, []]

In [30]:
example_list_2[::2] # Takes every second character

[1, 'Hello', []]

In [32]:
example_list_2[::-1] # Reversed list

[[], True, 'Hello', 3.14, 1]

In [34]:
example_list_2[1:100] # Slicing never rises an error for out-of-range index

[3.14, 'Hello', True, []]

### Tuples
Is an ordered **collection of elements**, very similar to a list. The main difference is that **tuples are inmutable**. Once you create them, you **cannot change, add, or remove elements**.

❌ They do not have methods like ``.append()`` or ``.pop()``

In [44]:
example_list_3 = [1, 2, 3, 4, 5]
example_tuple_2 = (tuple(example_list_3))
print(type(example_list_3))
print(type(example_tuple_2))

<class 'list'>
<class 'tuple'>

In [42]:
type(())

tuple

In [43]:
type(1) # Considered as an int

int

In [ ]:
type(1,) # With the comma the element is considered as a tuple

In [48]:
len(example_tuple_2) # Returns the number of items in an object.

5

## Dictionaries
It is a data type that stores **key-value pairs**. Unlike lists or tuples, which are indexed by position (0, 1, 2...), dictionaries are indexed by **unique keys**.

In [51]:
type({})

dict

In [53]:
type({1, 2, 3}) # It needs it key values to become a dictionary

set

In [55]:
example_dict_2 = {"employee" : "Juan"}
type(example_dict_2)

dict

In [59]:
example_dict_3 = {
    "Names" : ["Juan", "Pedro", "Miguel"],
    "Last Names": ["Hernandez", "Perez", "Jimenez"],
    "Age" : [28, 20, 30]
}
type(example_dict_3)

dict

In [57]:
example_dict_3["Names"] # To acces the values you need to use the correct key

['Juan', 'Pedro', 'Miguel']

In [60]:
example_dict_3

{'Names': ['Juan', 'Pedro', 'Miguel'],
 'Last Names': ['Hernandez', 'Perez', 'Jimenez'],
 'Age': [28, 20, 30]}

In [61]:
example_dict_3.values() # Returns all the values inside the dict

dict_values([['Juan', 'Pedro', 'Miguel'], ['Hernandez', 'Perez', 'Jimenez'], [28, 20, 30]])

In [63]:
example_dict_3.keys() # Returns all the keys inside the dict

dict_keys

In [67]:
example_dict_3.items() # Returns all key-value pairs as tuples

dict_items([('Names', ['Juan', 'Pedro', 'Miguel']), ('Last Names', ['Hernandez', 'Perez', 'Jimenez']), ('Age', [28, 20, 30])])

#### Printing the key and values in a tuple

In [68]:
for key, value in example_dict_3.items():
    print(f"The key '{key}' has the following value(s): {value}")

The key 'Names' has the following value(s): ['Juan', 'Pedro', 'Miguel']
The key 'Last Names' has the following value(s): ['Hernandez', 'Perez', 'Jimenez']
The key 'Age' has the following value(s): [28, 20, 30]

## Arithmetic Operations
They are the basic mathematical operators you can use with numbers (integers, floats, etc.).

In [71]:
# Addition
result = 5 + 8
result

13

In [72]:
# Substraction
result = 10 - 4
result

6

In [73]:
# Multiplication
result = 6 * 5
result

30

In [74]:
# Division
result = 6 * 7
result

42

In [75]:
# Floor division (Divides and rounds to the nearest integer)
result = 7 // 3
result

2

In [76]:
# Modulus (Returns the reminder of a division)
result = 10 % 3
result

1

In [77]:
# Exponentiation (Raises the nuber to the power of another)
result = 2 ** 3
result

8

In [78]:
# Arithmetic operations follow the order of operations
5+3*(2/3)

7.0